[Unit]
Description=t2chill: log one line of CPU thermal data
Documentation=https://github.com/Tomcatt/t2chill

[Service]
Type=oneshot
ExecStart=@BIN@/t2chill log
